<ion-header></ion-header>
<ion-content class="ion-padding">
  <ion-row class="ion-justify-content-center">
    <ion-col  class="ion-align-self-center">
      <strong> Choose your location </strong>      
    </ion-col>
   
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-align-self-center">
      Select a delivery location to see product availability and delivery options
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col="12">
        <ion-button color="primary" (click)="signIn()" class="ion-text-capitalize">Sign in to see your address</ion-button>
    </ion-col>
  </ion-row>
  
</ion-content>