.p-types {
    flex-wrap: nowrap;
    overflow-x: scroll !important;
    overflow-y: hidden;
}

.scroll-p {
    border: 1px solid;
    box-shadow: unset;
    min-width: 33%;

    ion-card-content {
        padding: 0rem;
    }

    &.active-p {
        border-color: var(--ion-color-primary);
        .list-d {
            border-color: var(--ion-color-primary);
        }
    }

    .list-d {
        border-top: 1px solid;
        margin-top: 2px;
        flex-direction: column;

    }
}

.thum-w {
    width: 100%;
}

.d-flex {
    display: flex;
}

.sub-title {
    font-size: 0.8rem;
    font-weight: normal;
}

::ng-deep{
    .quantity-field {
        --border-width:0 0 1px 0;
        .input-wrapper{
            input{
                border: 1px solid;
                padding-left: 0.5rem;
               }
        }
    } 
}
