ion-card-content{
    padding: 0.5rem;
   
}
ion-card{
    margin: 0.25rem 0.5rem;   
   }
.text-line-through{
    text-decoration: line-through;
}
.list-product-img{
    max-width: 40%;
    min-width: 40%;
}