<ion-tabs #tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-icon aria-hidden="true" name="cart-outline"></ion-icon>
      <ion-badge>{{cartQuantity}}</ion-badge>
    </ion-tab-button>
    <ion-tab-button tab="tab4">
      <ion-icon aria-hidden="true" name="menu-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>